# Core functionality - changes here should be rare!
/src/app.py                   @sunshaolei
/src/backend/database.py      @sunshaolei
/src/backend/routers/auth.py  @sunshaolei

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sunshaolei
